.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 625px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 60px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 407px;
  width: 706px;
  margin: 30px auto 49px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-1 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 767px) {
  .u-section-1 .u-gallery-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-gallery-1 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
  min-height: 604px;
}

.u-section-2 .u-text-1 {
  animation-duration: 1000ms;
  margin: 60px 80px 0;
}

.u-section-2 .u-gallery-1 {
  height: 393px;
  margin-top: 13px;
  margin-bottom: 60px;
}

.u-section-2 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-1 {
  width: 375px;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-2 {
  width: 375px;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-3 {
  width: 375px;
}

.u-section-2 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-4 {
  width: 375px;
}

.u-section-2 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-2 .u-gallery-item-5 {
  margin-right: 10px;
}

.u-section-2 .u-back-image-5 {
  width: 375px;
}

.u-section-2 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 275px);
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 158px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 99px);
  }
}.u-section-3 {
  min-height: 480px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 480px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 4px;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 30px 40px 0 0;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 25px;
  min-height: 16px;
  width: 121px;
  min-width: 94px;
  margin: 30px auto 0 0;
}

.u-section-3 .u-icon-1 {
  height: 25px;
}

.u-section-3 .u-icon-2 {
  height: 25px;
}

.u-section-3 .u-icon-3 {
  height: 25px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 480px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 135px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 49px auto 0 55px;
  padding: 10px 54px;
}

.u-section-3 .u-image-1 {
  min-height: 480px;
  background-image: url("images/fxgtfh.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 432px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 396px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 354px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 432px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 514px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 721px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 491px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
}.u-section-4 {
  min-height: 717px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 717px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 512px;
  height: 540px;
  margin: 45px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 717px;
}

.u-section-4 .u-container-layout-2 {
  padding: 60px 79px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline !important;
  animation-duration: 1000ms;
  margin: 51px 1px 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  margin: 20px 1px 0;
}

.u-section-4 .u-image-2 {
  width: 284px;
  height: 311px;
  margin: 30px 165px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-4 {
    min-height: 591px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 591px;
  }

  .u-section-4 .u-image-1 {
    width: 441px;
    height: 465px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-text-1 {
    letter-spacing: normal;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    height: 312px;
    margin-right: 29px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    min-height: 453px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 453px;
  }

  .u-section-4 .u-image-1 {
    width: 324px;
    height: 342px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-2 {
    margin-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-4 {
    min-height: 780px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 60px 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 528px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-1 {
    width: 320px;
    height: 338px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}