.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 591px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 202px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 125px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 136px;
  min-width: 88px;
  margin: 23px auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 471px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  font-size: 2.25rem;
  animation-duration: 1000ms;
  margin: 0 0 0 20px;
}

.u-section-1 .u-form-1 {
  height: 307px;
  width: 510px;
  margin: 11px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 509px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 167px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 410px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 420px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 417px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 471px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 471px;
  margin-top: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  text-decoration: underline !important;
  animation-duration: 1000ms;
  margin: 69px auto 0 156px;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 33px 690px 0 164px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-1 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: -51px 250px 0 604px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: 22px 204px 0 604px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-3 {
  color: rgb(255, 255, 255) !important;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  text-transform: uppercase;
  margin: -51px 727px 0 164px;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-icon-4 {
  color: rgb(255, 255, 255) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 388px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 590px;
    margin-left: 64px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 150px;
    margin-left: 504px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 104px;
    margin-left: 504px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 627px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 434px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 40px;
    margin-left: 394px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 394px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 471px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 294px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 294px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 94px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 131px;
  }
}