.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 662px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 29px;
}

.u-section-1 .u-form-1 {
  height: 542px;
  margin: 0 30px 0 0;
}

.u-section-1 .u-form-group-1 {
  width: 100%;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-form-group-2 {
  width: 100%;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-form-group-3 {
  width: 100%;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-form-group-6 {
  width: 100%;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-form-group-7 {
  width: 100%;
}

.u-section-1 .u-label-7 {
  font-weight: 700;
}

.u-section-1 .u-form-group-8 {
  width: 100%;
}

.u-section-1 .u-label-8 {
  font-weight: 700;
}

.u-section-1 .u-form-group-9 {
  width: 100%;
}

.u-section-1 .u-form-group-10 {
  width: 100%;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-1 .u-image-1 {
  min-height: 600px;
  background-image: url("images/35-357980_man-and-woman-fitness-png-transparent-cartoons-fitness.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-form-1 {
    width: 499px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 546px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 79px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-form-1 {
    width: 389px;
  }

  .u-section-1 .u-image-1 {
    min-height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 179px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }

  .u-section-1 .u-image-1 {
    min-height: 855px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 320px;
  }

  .u-section-1 .u-form-group-4 {
    width: 100%;
  }

  .u-section-1 .u-form-group-5 {
    width: 100%;
  }

  .u-section-1 .u-image-1 {
    min-height: 538px;
  }
}